<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f3f7">
    <tr>
        <td colspan="3" height="34"
            style="font-family:arial;background-color:#ffb400;color:#000;font-weight:600;font-size:14px;padding:0px 10px;">
            BLOG &amp; SOCIAL MEDIA FROM ADVANCED KIOSKS
        </td>
    </tr>
    <tr>
        <td width="346" rowspan="2">
            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td width="49%"><a
                            href="https://advancedkiosks.com/3d-printing-for-self-service-kiosk-development-advanced-kiosks-adapts-to-novel-challenges/"><img
                                src="http://cdn.mcauto-images-production.sendgrid.net/b09247ea47db5fd8/ff41e08d-9b97-4b18-a647-29eeccdb87b3/150x104.jpg"
                                width="150" height="104" alt="pic" /></a></td>
                    <td width="51%" style="font-family:arial;padding:0;">
                        <table style="font-family:arial;width:100%;border-left:5px orange solid;">
                            <tr>
                                <td><span
                                        style="font-family:arial;font-size:14px;padding:0px 10px;font-weight:600;display:block;"><a
                                            href="https://advancedkiosks.com/3d-printing-for-self-service-kiosk-development-advanced-kiosks-adapts-to-novel-challenges/"
                                            style="color:#2770a2;text-decoration:none;">3D
                                            PRINTING FOR
                                            SELF-SERVICE
                                            KIOSK
                                            DEVELOPMENT</a></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td height="61" align="center" valign="bottom" style="vertical-align:bottom;"><a
                href="https://www.facebook.com/AdvancedKiosks/"><img
                    src="https://advancedkiosks.com/img/facebookBLUE.jpg" width="39" height="35" alt="Facebook"
                    style="font-family:arial;padding:5px;" /></a>
        </td>
        <td valign="bottom" style="vertical-align:bottom;">
            <table style="font-family:arial;width:230px;">
                <tr>
                    <td valign="middle"><span
                            style="font-family:arial;font-size:14px;padding:0px 10px;font-weight:500;display:block;overflow: hidden;">POST:
                            <a href="https://www.facebook.com/AdvancedKiosks/"
                                style="color:#2770a2;text-decoration:none;">
                                Kiosks helps quickly detect
                                temperatures....</a></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="47" valign="top" style="vertical-align:top;">
            <center>
                <a href="https://www.linkedin.com/company/advanced-kiosks/"><img
                        src="https://advancedkiosks.com/img/linkedinBLUE.jpg" width="39" height="35" alt="Linkedin"
                        style="font-family:arial;padding:5px;" /></a>
            </center>
        </td>
        <td valign="top" style="vertical-align:top;">
            <center>
                <table style="font-family:arial;width:230px;">
                    <tr>
                        <td><span
                                style="font-family:arial;font-size:14px;padding:0px 10px;font-weight:500;display:block; ">REPOST:
                                <a href="https://www.linkedin.com/company/advanced-kiosks/"
                                    style="color:#2770a2;text-decoration:none;">Touchless
                                    interactive kiosk
                                    screens....</a></span>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>