<td width="173" valign="middle">
  <table>
    <tr>
      <td>
        <img width="31" height="31" src="{{icon}}" />
      </td>
      <td><p style="font-weight: bold; font-size: 24px; margin-left: 8px">{{feature-name}}</p></td>
    </tr>
  </table>
</td>
