<table border="0" cellspacing="0" cellpadding="" style="font-family: arial; margin-top: 20px; margin-bottom: 10px">
  <tr>
    {{> feature-header feature-name=feature-name}}
    <td width="284">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="color: red">
      <table width="444">
        <tr>
          <td width="37">&nbsp;</td>
          <td width="395" style="color: red; font-family: arial">
            <strong>You do not have this feature</strong>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
