<table class="row"
    style="font-family:arial;border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;">
    <tbody>
        <tr style="font-family:arial;padding:0;text-align:left;vertical-align:top">
            <td>
                <table
                    style="font-family:arial;border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:600px;background-color:#0b0b0b;">
                    <tbody>
                        <tr style="font-family:arial;padding:0;text-align:left;vertical-align:top">
                            <th align="center"
                                style="font-family:arial;margin:0;color:#000;font-family:arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:center">
                                <a href="https://advancedkiosks.com"><img
                                        src="https://advancedkiosks.com/img/footer.jpg" alt="Footer" width="600"
                                        height="106" usemap="#Map" border="0" /></a> <br />
                                <br />
                                <center>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><a href="https://www.facebook.com/AdvancedKiosks/"><img
                                                        src="https://advancedkiosks.com/img/fb.jpg" alt="Facebook"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                            <td><a href="https://twitter.com/AdvancedKiosks"><img
                                                        src="https://advancedkiosks.com/img/tw.jpg" alt="Twitter"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                            <td><a href="https://www.instagram.com/advancedkiosks.com/"><img
                                                        src="https://advancedkiosks.com/img/in.jpg" alt="Instagram"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                            <td><a href="https://advancedkiosks.com/self-service-blog/"><img
                                                        src="https://advancedkiosks.com/img/bl.jpg" alt="Blog"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                            <td><a href="https://www.linkedin.com/company/advanced-kiosks"><img
                                                        src="https://advancedkiosks.com/img/li.jpg" alt="Linkedin"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                            <td><a href="https://www.youtube.com/user/AdvancedKiosks"><img
                                                        src="https://advancedkiosks.com/img/yt.jpg" alt="Youtube"
                                                        width="35" height="28" border="0" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                                <br />
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>