{{#if scanningmissing}}
<table border="0" cellspacing="0" cellpadding="" style="font-family:arial;margin-top:20px;margin-bottom:10px;">
    <tr>
        <td width="173" valign="middle">
            <table>
                <tr>
                    <td>
                        <img width="30" height="30"
                            src="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_scanner.png" />
                    </td>
                    <td>
                        <p style="font-weight: bold; font-size: 24px; margin-left: 8px;">
                            SCANNING</p>
                    </td>
                </tr>
            </table>
        </td>
        <td width="284">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" style="color:red;">
            <table width="444">
                <tr>
                    <td width="37">&nbsp;</td>
                    <td width="395" style="color:red;font-family:arial;">
                        <strong>You do not have this
                            feature</strong>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{else}}
<table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="218" height="34" style="font-family:arial;">
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="218" height="34" style="font-family:arial;">
                        <table width="100%" border="0" cellspacing="0" cellpadding=""
                            style="font-family:arial;margin-top:20px;margin-bottom:10px;">
                            <tr>
                                <td width="218" height="34" style="font-family:arial;">
                                    <table>
                                        <tr>
                                            <td>
                                                <img width="30" height="30"
                                                    src="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_scanner.png" />
                                            </td>
                                            <td>
                                                <p style="font-weight: bold; font-size: 24px; margin-left: 8px;">
                                                    SCANNING
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20%">
                                    <table width="155" border="0" cellspacing="0"
                                        style="font-family:arial;background-color:#ffb400; ">
                                        <tr>
                                            <td align="left" height="34"
                                                style="font-family:arial;font-size:14px;text-align:center;">
                                                <strong>Total:
                                                </strong><strong>{{scanningweeklycount}}</strong>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        {{#if scanningaveragepages}}
                        <table width="100%" border="0" cellspacing="5" cellpadding="10">
                            <tr>
                                <td
                                    style="font-family:arial;background-color:#656565;font-size:13px;font-weight:600;color:#fff;">
                                    Average Number of Pages
                                    Per Scan</td>
                                <td align="center"
                                    style="font-family:arial;background-color:#656565;font-size:13px;font-weight:600;color:#fff;">
                                    {{scanningaveragepages}}
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                    </td>
                </tr>
            </table>
            {{/if}}