<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
    <tr>
        <td height="34"
            style="font-family:arial;background-color:#ffb400;color:#000;font-weight:600;font-size:14px;padding:0 10px;">
            SUPPORT OPTIONS</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table style="font-family:arial;width:600px;border-left:5px orange solid;">
                            <tr>
                                <td height="50" style="padding:0 10px;">
                                    <span
                                        style="font-family:arial;font-size:13px;padding:0px;font-weight:400;display:block;">For
                                        any
                                        issues
                                        or
                                        questions
                                        concerning
                                        your
                                        kiosk or
                                        software
                                        subscription,
                                        consider
                                        one of
                                        our
                                        support
                                        options.
                                        Call
                                        Advanced
                                        Kiosks
                                        anytime
                                        24/7!</span>
                                </td>
                            </tr>
                        </table>
                        <table width="580" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="580" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><a href="mailto:technical@advancedkiosks.com"><img
                                                        src="https://advancedkiosks.com/img/bemail.jpg"
                                                        alt="Technical Support" width="273" height="47" border="0"
                                                        style="font-family:arial;margin:5px;" /></a>
                                            </td>
                                            <td><img src="https://advancedkiosks.com/img/bphone2.jpg" width="273"
                                                    height="47" alt="Phone" style="font-family:arial;margin:5px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="580" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="182">
                                                <a href="https://advancedkiosks.com/support/"><img
                                                        src="https://advancedkiosks.com/img/bsupport2.jpg" alt="Support"
                                                        width="172" height="47" border="0"
                                                        style="font-family:arial;margin:5px;" /></a>
                                            </td>
                                            <td width="182">
                                                <a href="https://advancedkiosks.com/kiosk-knowledgebase/"><img
                                                        src="https://advancedkiosks.com/img/bknowledgebase.jpg"
                                                        alt="Knowledgebase" width="172" height="47" border="0"
                                                        style="font-family:arial;margin:5px;" /></a>
                                            </td>
                                            <td width="172">
                                                <a href="https://advancedkiosks.com/support/product-documentation/"><img
                                                        src="https://advancedkiosks.com/img/bdocumentation2.jpg"
                                                        alt="Documentation" width="172" height="47" border="0"
                                                        style="font-family:arial;margin:5px;" /></a>
                                            </td>
                                            <td width="34">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <center>
            </center>
            <center>
            </center>
        </td>
    </tr>
</table>